.eventdetail{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}
.detail-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    align-content: center;
    /* padding: 0 5% 0 5%;
    margin-bottom: 5%;
    margin-left: 10%; */
}
.childdetail-flex{
    margin: 30px;
    border: dotted 3px white;
    width: 200px;
    height: 400px;
    position: center;
    padding: 10px;
    justify-content: center

}
.ticketprice-button {
    height: 30px;
    width: 80px;
    margin: 5px 0; 
}

#eventdetail-img {
    height: 150px;
    width: 150px
}

#post-ticketform {
    margin-left: 15%;
    position: center;
    align-self: center
}