.eventcontainer {
    margin: 5% 15% 5% 15%;
    /* position: center; */
    /* width:100%; */
    text-align: center;
}

#eventform {
    margin-bottom: 5%;
    text-align: center;
}

.events {
    background-color:#eaf6f7;
}

#nextbutton{
    float: right;
    /* margin-left: 80%; */
}

#backbutton{
    float: left;
}

.outer
{
    width:100%;
    text-align: center; 
    margin-top: 5%;
}

.inner
{
    display: inline-block;
}

   